# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui

periodo = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

tabela_clima = pd.Series(data=anomalia_termica, index=periodo)
tabela_clima

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui

# acabei criando os dois juntos
periodo = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

tabela_clima = pd.Series(data=anomalia_termica, index=periodo)
tabela_clima

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

temperaturas = pd.Series(dic_temperaturas)
temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df = pd.DataFrame(arr)
df

             0           1           2
0    90.646117  104.934351  102.023040
1    94.087974   92.242376  109.464992
2    98.490020   93.631147   87.755367
3    90.759246  116.784738   99.819446
4    97.555178  112.327262   99.339049
5    97.213108   99.901550  105.216978
6   101.012220   97.119079   87.602669
7    97.110193   97.231922   97.275875
8    95.072228  105.701830   97.939289
9   100.461336   98.929530  120.911386
10  106.949891   84.228072   92.757560
11  100.862460  106.645722   95.793641
12  109.439385  110.666105  100.917335
13  112.765546  106.759428  117.411150
14  104.069232  111.389152   90.000400
15  104.042313   99.508155   94.082669
16   81.951793   96.368073  105.899569
17   74.980648  104.583700  104.328795
18  104.298263  104.350185  107.852288
19   98.113071   83.545258  114.293073

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#seu código aqui

#criando os nomes das colunas
indices = ['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'x10',
          'x11', 'x12', 'x13', 'x14', 'x15', 'x16', 'x17', 'x18', 'x19', 'x20']
indices = pd.DataFrame(indices)
indices

      0
0    x1
1    x2
2    x3
3    x4
4    x5
5    x6
6    x7
7    x8
8    x9
9   x10
10  x11
11  x12
12  x13
13  x14
14  x15
15  x16
16  x17
17  x18
18  x19
19  x20

In [6]:
#Quais colunas temos
df.columns

RangeIndex(start=0, stop=3, step=1)

In [7]:
df = df.rename(columns={df.columns[0]: 'A', df.columns[1]: 'B', df.columns[2]: 'C'})
df

             A           B           C
0    90.646117  104.934351  102.023040
1    94.087974   92.242376  109.464992
2    98.490020   93.631147   87.755367
3    90.759246  116.784738   99.819446
4    97.555178  112.327262   99.339049
5    97.213108   99.901550  105.216978
6   101.012220   97.119079   87.602669
7    97.110193   97.231922   97.275875
8    95.072228  105.701830   97.939289
9   100.461336   98.929530  120.911386
10  106.949891   84.228072   92.757560
11  100.862460  106.645722   95.793641
12  109.439385  110.666105  100.917335
13  112.765546  106.759428  117.411150
14  104.069232  111.389152   90.000400
15  104.042313   99.508155   94.082669
16   81.951793   96.368073  105.899569
17   74.980648  104.583700  104.328795
18  104.298263  104.350185  107.852288
19   98.113071   83.545258  114.293073

In [8]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [9]:
novodf = pd.concat([indices,df], axis=1)
novodf

      0           A           B           C
0    x1   90.646117  104.934351  102.023040
1    x2   94.087974   92.242376  109.464992
2    x3   98.490020   93.631147   87.755367
3    x4   90.759246  116.784738   99.819446
4    x5   97.555178  112.327262   99.339049
5    x6   97.213108   99.901550  105.216978
6    x7  101.012220   97.119079   87.602669
7    x8   97.110193   97.231922   97.275875
8    x9   95.072228  105.701830   97.939289
9   x10  100.461336   98.929530  120.911386
10  x11  106.949891   84.228072   92.757560
11  x12  100.862460  106.645722   95.793641
12  x13  109.439385  110.666105  100.917335
13  x14  112.765546  106.759428  117.411150
14  x15  104.069232  111.389152   90.000400
15  x16  104.042313   99.508155   94.082669
16  x17   81.951793   96.368073  105.899569
17  x18   74.980648  104.583700  104.328795
18  x19  104.298263  104.350185  107.852288
19  x20   98.113071   83.545258  114.293073

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [10]:
# seu código aqui
df['média ABC'] = (df['A'] + df['B'] + df['C'])/3
df

             A           B           C   média ABC
0    90.646117  104.934351  102.023040   99.201169
1    94.087974   92.242376  109.464992   98.598447
2    98.490020   93.631147   87.755367   93.292178
3    90.759246  116.784738   99.819446  102.454477
4    97.555178  112.327262   99.339049  103.073830
5    97.213108   99.901550  105.216978  100.777212
6   101.012220   97.119079   87.602669   95.244656
7    97.110193   97.231922   97.275875   97.205997
8    95.072228  105.701830   97.939289   99.571116
9   100.461336   98.929530  120.911386  106.767417
10  106.949891   84.228072   92.757560   94.645174
11  100.862460  106.645722   95.793641  101.100608
12  109.439385  110.666105  100.917335  107.007608
13  112.765546  106.759428  117.411150  112.312041
14  104.069232  111.389152   90.000400  101.819595
15  104.042313   99.508155   94.082669   99.211046
16   81.951793   96.368073  105.899569   94.739812
17   74.980648  104.583700  104.328795   94.631048
18  104.298263  104.350185  107.852288  105.500245
19   98.113071   83.545258  114.293073   98.650467

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [21]:
from numpy.ma.core import log10
# seu código aqui
df['logaritimo'] = np.log(df['média ABC'])
df

             A           B           C   média ABC  logaritimo
0    90.646117  104.934351  102.023040   99.201169    4.597150
1    94.087974   92.242376  109.464992   98.598447    4.591056
2    98.490020   93.631147   87.755367   93.292178    4.535736
3    90.759246  116.784738   99.819446  102.454477    4.629419
4    97.555178  112.327262   99.339049  103.073830    4.635446
5    97.213108   99.901550  105.216978  100.777212    4.612912
6   101.012220   97.119079   87.602669   95.244656    4.556449
7    97.110193   97.231922   97.275875   97.205997    4.576832
8    95.072228  105.701830   97.939289   99.571116    4.600872
9   100.461336   98.929530  120.911386  106.767417    4.670653
10  106.949891   84.228072   92.757560   94.645174    4.550135
11  100.862460  106.645722   95.793641  101.100608    4.616116
12  109.439385  110.666105  100.917335  107.007608    4.672900
13  112.765546  106.759428  117.411150  112.312041    4.721281
14  104.069232  111.389152   90.000400  101.819595    4.623203
15  104.042313   99.508155   94.082669   99.211046    4.597249
16   81.951793   96.368073  105.899569   94.739812    4.551134
17   74.980648  104.583700  104.328795   94.631048    4.549986
18  104.298263  104.350185  107.852288  105.500245    4.658713
19   98.113071   83.545258  114.293073   98.650467    4.591583